@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core Apps Documentation</a>.</p>
    <p>This ASP.NET MVC App executes CRUD operations on a user information database. One controller is used to create six views that interface with the user comments data model</p>
    <p>One custom view is manually created for the search form tab and different controller methods are manipulated to add custom CRUD functionalities (create, update, read, delete)</p>
</div>
